@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

#__next {
  font-family: 'Inter', sans-serif;
  max-width: 400px;
  height: 100vh;
  margin: 0 auto;

  @apply px-4;
}