.contacts {
  @apply flex flex-col py-5;

  .contact {
    @apply flex items-center pb-5;

    img {
      min-height: 50px;
      min-width: 50px;
      @apply mr-5 rounded-full;
    }

    p {
      @apply opacity-75 overflow-ellipsis text-base;
    }
  }

  .contact:last-child {
    @apply pb-0;
  }
}