.favourite {
  @apply flex overflow-x-auto;

  .contact {
    @apply flex flex-col items-center justify-center mr-6 py-5;

    img {
      min-width: 50px;
      min-height: 50px;

      @apply rounded-full;
    }

    p {
      @apply text-xs mt-1 opacity-75 overflow-ellipsis;
    }
  }

  .contact:last-child {
    @apply mr-0;
  }
}